@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



:root {
    --primary-green: #2E7D32;
    --dark-green: #1B5E20;
    /* --light-bg: #F4F8F2; */
    --section-bg: #EEF5EA;
    --heading-color: #1C3B2A;
    --text-color: #5F6F65;
    --sunshine-yellow: #FDD835;
--Light-Mint-Green:#F4F8F2;
    --white: #ffffff;
    --leaf-green: #4CAF50;
    --sky-blue: #81D4FA;
    --lead: #222;
}



body {
    background-color: #F4F8F2;
    
}



a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

.between {
    justify-content: space-between;
}

.gap-3 {
    gap: 3rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-4 {
    gap: 4rem;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
    
}



img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    display: block;
    /* animation: float 4s ease-in-out infinite; */
}

/* @keyframes img {
  0%{ transform: translateY(0px); }
  50%{ transform: translateY(-15px); }
  100%{ transform: translateY(0px); }
} */

.flex.text-center.mt-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.images-container {
    display: flex;
    justify-content: center;
}

.images-container img {
    max-width: 120px;
}

@media (max-width: 600px) {
    .filter-btns {
        display: flex;
        flex-direction: column;   
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .cart-list {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 10px;
    }
}

.p-top {
    padding-top: 10rem;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-half{
    margin-top: .5rem;
}
.m-auto{
    margin: auto;
}

.mt-one-half{
    margin-top: 1.5rem;
}



.social-icons a {
    width: 45px;
    height: 45px;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
}

.social-icons a:hover {
    transform: translateY(-6px);
    background: var(--primary-green);
}

/* 
SECTION O1 */

h5 {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: var(--leaf-green);
    text-transform: uppercase;
}

h2 {
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--lead);
}

h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--lead);
}

.service-cart h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


/* SECTION 02 */

.order-cart {
    width: 220px;
    height: 320px;

    background: white;
    border: .1rem solid var(--leaf-green);
    border-radius: 1rem;
    padding: 10px;

    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05) inset;
    transition: 0.3s ease;
    

}

.order-cart h3 {
    margin: 15px 0 5px;
    font-size: 20px;
}

.price {
    color: #7d612e;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.order-cart img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
    filter: drop-shadow(rgba(0, 0, 0, 0) 0 10px 10px);

}

/* CARd TAB STYLING */

.cart-tab{
    background: var(--leaf-green);
    position: fixed;
    inset: 0 -500px 0 auto;
    width: 25rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow:
     rgba(0, 0, 0, 0.1)-10px -10px 20px;


}

.cart-tab-active{
      inset: 0 0 0 auto;
}
.card-list{
    flex:1;
    width: 100%;
    margin-top: 1.5rem;
    overflow: auto;

}
.cart-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* 🔥 auto adjust */
    gap: 20px;
    justify-content: center; /* 🔥 center align */
}

.card-list::-webkit-scrollbar{
    width: 0;
}
.total-container{
    width: 100%;
    background: var(--sunshine-yellow);
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
}

.total-container h4{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
}

.btn-container .btn{
    background: var(--lead);
    transition: .3s ease-in-out;
}

.btn-container .btn:hover{
    background: var(--sky-blue);
    color: var(--lead);
}

.item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .7rem 1rem;
   transition: all .5s ease-in-out;
}

.item.slide-out{
    transform: translate(50%);
}

.cart-list .item:nth-child(even){
    background: var(--section-bgg);
}
.item .detail{
    flex: 2;
}
.item .item-image img{
    width: 4rem;
}

.item .item-total{
    font-weight: 400;
    margin-top: .3rem;
}

.quantity-btn{
    background: var(--lead);
    color:var(--Light-Mint-Green);
    width: 1.7rem;
    aspect-ratio: 1;
    border-radius: 100%;
    text-align: center;
    line-height: 1.7rem;
}

.quantity-value{
    font-size: 1.2rem;
    font-weight: 400;
    margin-inline: .6rem;
}


.images-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
}


.image-container {
    display: flex;
   
    align-items: center;
 
    gap: 20px;
    justify-content: flex-start;

}

.image-container {
    width: 250px;
 
    border-radius: 10px;
  
}

.image-container h2 {
    font-size: 28px;
    margin: 0;
    color: #333;
}

.image-container p {
    font-size: 18px;
    color: #666;
}

/* SECTION 03 */

.review-container{
    /* background: red; */
    width: 650px;
    max-width: 100%;
    flex: 1;
}
.swiper {
    width: 100%;
    height: 100%;
}
.profile{
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 80%;
    overflow: hidden;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-star{
    color: var(--leaf-green);
}

.arrow{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--dark-green);
    color: var(--Light-Mint-Green);
    text-align: center;
    line-height: 2.5rem;
}
     
    /* SECTION 04 */
  
     .app-container{
        background: #D8F2E3;
        padding: 3rem 6rem;
        border-radius: 3rem;
     }

    .app-container .content h2{
        font-size: 4.0rem;
        color: green;
    }
    /* .app-image{
        flex: 1; */
    
        .app-container .image-container img{
        width: 25rem;
        height: 30rem;
     }

/* 
     SECTION 05 */

     .input-container{
        width: 43rem;
        max-width: 100%;
        background: var(--white);
        padding: .8rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0 5px 8px;
        border-radius: 1rem;
        margin: 4rem auto 0 auto;
            }

     input[type="email"]{
        flex: 1;
        height: 7vh;
        background: transparent;
        border: none;
        font-size: 1.1rem;
        padding-left: 1rem;
     }
     input[type="email"]:focus{
outline: none;
     }






     /* FOOTER STYLING */

     .footer-container{
        margin-top: 10rem;
        padding-block: 4rem;
        background: var(--dark-green);
     }


     .footer-container .flex{
        align-items: flex-start;
     }
      .footer-container .logoo{
        color: red;
      }

     .footer-wrapper{
        flex: 1;
        flex-basis: 150px;
     }
     .footer-container p{
        color: black;
     }

     .footer-wrapper:nth-child(1){
        flex: 2;
        flex-basis: 300px;
     }
       
     .footer-wrapper .secial-icon:hover{
        background: var(--leaf-green);
     }
  
     .footer-wrapper .social-icon{
        background: var(--dark-green);
        color:var(--sunshine-yellow);
     }
     
     .footer-link{
        color: gray;
        font-size: 1.1rem;
        transition: .3s ease-in-out;
     }

     .footer-link:hover{
        color: var(--lead);
     }


/*HEADER  */

.navbar {
    min-height: 14vh;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--dark-green);
}

.btn {
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--primary-green);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--white);
    transition: .3s ease-in-out;
}

.btn:hover {
    background: var(--dark-green);
}

.cart-icon {
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: .75rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--sky-blue);
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}

/* Hamburger */

.desktop-action .hamburger {
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

/*  MOBILE MENU DEFAULT HIDE */

.mobile-menu {
    display: none;
}

/* HERO */

.hero-section {
    min-height: calc(100vh - 14vh);
}

.content,
.image-container,
.service-card {
    flex: 1;
    flex-basis: 300px;
}

h1 {
    font-size: 4rem;
    color: var(--heading-color);
}

h1 span {
    color: var(--primary-green);
}

p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 1.8rem;
}

.para {
    margin-block: 2rem;
    max-width: 550px;
}

/*  MEDIA QUERY */

@media screen and (max-width: 780px) {

    .navlist,
    .desktop-action .btn {
        display: none;
    }

    .desktop-action .hamburger {
        display: block;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--white);
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0 8px 20px;
        transition: all .5s ease-in-out;
    }

    .mobile-menu-active {
        display: flex;
    }

    /* SECTION STYLING */

    /* HERO STYLING */
    h1 {
        font-size: 3rem;
    }

    .content {
        padding-top: 3rem;
    }

    .gap-2 {
        gap: 1.4rem;
    }

    /* SECTION 01 */
    h2 {
        font-size: 3rem;
    }

/*      
    SECTION 04 */

    .app-container{
        padding: 2.2rem;
    }

    .app-container .content h2{
        font-size: 3.5rem;
    }
}

/* .filter-btns .btn {
    margin: 5px;
    cursor: pointer;
} */

.filter-btns .btn {
    margin: 5px;
   
}
/* .filter-btn.active {
    border: 2px solid black;
    transform: scale(1.05);
} */

.filter-btn.active {
    transform: scale(1.1);
    margin-top: auto;
    border: 2px solid black;
}

/* FILTER + SEARCH CONTAINER */
.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

/* FILTER BUTTONS */
.filter-btns {
    display: flex;
    gap: 1rem;
    margin-top: 80px; 
}

.filter-btn {
    background: #e0e0e0;
    color: #222;
    border-radius: 2rem;
    padding: .6rem 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.filter-btn:hover {
    transform: scale(1.05);
}

/* ACTIVE BUTTON */
.filter-btn.active {
    background: var(--primary-green);
    color: white;
}

/* SEARCH BOX */
.search-box {
    position: relative;
     margin-top: 80px; 
}

.search-box input {
    padding: .6rem 2.5rem .6rem 1rem;
    border-radius: 2rem;
    border: 1px solid #ccc;
    outline: none;
}

.search-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}
/* .services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
} */

/* @media (max-width: 768px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);  /* 2 cards ek row me */
    /* }
} */
/* 
@media (max-width: 500px) {
    .services-container {
        grid-template-columns: 1fr; /* 1 card per row */
